body {
  background-image: url("../garden_foto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h2 {
    font-family: Georgia, serif;
    font-size: 20px;
    color: rgb(90, 88, 71);
}

h3 {
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
}



p {
    color: rgb(0, 0, 0);
    font-style: italic;
}
